services:
  aemu_postoffice:
    build:
        context: ./conf.d/aemu_postoffice/
        dockerfile: Dockerfile
    image: ubuntu-w-nodejs:24.04
    restart: unless-stopped
    container_name: aemu_postoffice
    volumes:
      - ./aemu_postoffice/server_njs:/data/aemu_postoffice/server_njs
    entrypoint: ["node", "/data/aemu_postoffice/server_njs/aemu_postoffice.js"]
    ports:
      - "27313:27313"

  aemu:
    build:
        context: ./cond.d/aemu/
        dockerfile: Dockerfile
    image: ubuntu-w-libsqlite3:24.04
    restart: unless-stopped
    container_name: aemu
    volumes:
      - ./aemu/dist_660_release/server:/data/aemu/server/
      - ./aemu/dist_660_release/server/www:/var/www/
      - ./apache2/sites-enabled:/etc/apache2/sites-enabled/
    working_dir: /data/aemu/server/
    command: ["/bin/sh", "-c", "service apache2 start && /data/aemu/server/pspnet_adhocctl_server"]
      #entrypoint: ["tail", "-f", "/dev/null"]
    ports:
      - "27312:27312"
        #- "80:80"
    depends_on:
      - aemu_postoffice
